.start-container{
    background-color: white;
    height: 84%;
}
.start__container-data{
    padding: 6px 30px;
    width: 100%;
    height: 100%;
}
.data__start{
    width: 100%;
    height: 500px;
    background-color: yellow;
}
.data__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.data__Wheregoing{
    background-color: red;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
}
.data__Wheregoing-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    width: 818px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 10px;
    border-color: darkgrey;
    border: 1px solid #dbdbdb; 
}
.data__inputs{
    background-color: yellow;
    display: inline-flex;
    gap: 20px;
    padding: 0px 20px;
}
.buttom__search{
    background-color:#2F80ED;
    color: white;
    padding: 12px 18px;
    width: 151px;
    border-radius: 6px;
}

.form-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.form-data-container{
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
}
.form-data{
    position: relative;
    width: 32rem;
    height: 32rem;
    background-color: white;
    z-index: 9999;
    border-radius: 20px;
}
.form_data-title{
    display: flex;
    font-weight: 600;
    font-size: 25px;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
    height: 10%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(25, 0, 255);

}
.form_data-body{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 90%;
    padding: 2em;
}