.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 84%;
    top: 0;
    left: 0;
    z-index: 9999;
}
.register-data{
    width: 20rem;
    height: 20rem;
    background-color: rgba(184, 16, 16, 0.5);
}